<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>SUMMER-About</title>
    <link rel="icon" type="shortcut icon" href="/summer.ico">
    <link type="text/css" rel="stylesheet" href="/css/editormd.css">
    <link type="text/css" rel="stylesheet" href="/css/docs.css?v=201908">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css?v=201901">

    <script type="text/javascript" src="/js/md/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="viewbody viewbody-static" style="background-color: white;
    background-size: cover;
    height: 100%;">
    <nav class="navbar navbar-inverse  navbar-static-top">
        <div class="container-fluid">
            <div class="col-sm-3"></div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-sm-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">SUMMER</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/mylife">MyLife<span class="sr-only"></span></a></li>
                        <li><a href="/links">Links</a></li>
                    </ul>
                    <!--                <form class="navbar-form navbar-left">-->
                    <!--                    <div class="form-group">-->
                    <!--                        <input type="text" class="form-control" placeholder="Search">-->
                    <!--                    </div>-->
                    <!--                    <button type="submit" class="btn btn-default">搜索</button>-->
                    <!--                </form>-->

                    <!--最右边-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </nav>
    <div class="showcase">
    </div>


    <div class="col-md-12">
        <div class="col-sm-3"></div>
        <div style="display: none" class="col-sm-6 about-me">
            <h2>About Me
                <small>sometime it`s not me</small>
            </h2>
            <p class="lead">除了研究专业的知识外，还喜欢唱、跳、rap</p>
            <p>不不不，其实是喜欢旅游、逛吃逛喝、拍摄美丽的风景、古街、山河、又有时候也喜欢喧闹的城市。</p>
            <div class="row" style="margin-bottom: 20px"></div>
            <h2>专业领域
                <small>头发应该还够用吧</small>
            </h2>
            <p>B2C O2O B2B</p>
            <p>支付宝、微信、阿里云、高德、钉钉等开放平台</p>
            <p>Java、Asp.Net</p>
            <div class="row" style="margin-bottom: 20px"></div>
            <p>
                <img src="https://summer-blog-images.oss-cn-shanghai.aliyuncs.com/wechat.jpg"
                     alt="微信公众号" class="img-rounded" style="width: 200px;border:1px solid orange;">
            </p>
        </div>
        <div class="col-sm-3"></div>


        <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

        <script th:inline="javascript">

            var wxData = [[${wxjsconfig}]];


            $(function () {
                $(".about-me").fadeIn(2000);
            })

        </script>

        <script>
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx80a7631fb6f3e4d2', // 必填，公众号的唯一标识
                timestamp: wxData.timestamp, // 必填，生成签名的时间戳
                nonceStr: wxData.nonceStr, // 必填，生成签名的随机串
                signature: wxData.signature,// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });


            wx.ready(function () {


                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                wx.onMenuShareTimeline({
                    title: 'Hi,我叫 SUMMER ,喜欢唱、跳、rap, 略略略，哈哈哈哈哈哈哈', // 分享标题
                    link: 'https://www.huangyingsheng.com/about/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP5RsatpLZVZFTlCtQ2LZXeCrW3ZqfloBt8FMD1N7JT0uhDf2PJ0Jgp3YFo1go6gtvQbqGkfYjiciaWg/0?wx_fmt=jpeg', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                        alert('很棒，你分享操作的姿势总是那么的优雅!');
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                        alert('分享一个又不影响成绩');
                    }
                });


                wx.onMenuShareAppMessage({
                    title: 'HELLO SUMMER', // 分享标题
                    desc: 'Hi,我叫 SUMMER ,喜欢唱、跳、rap, 略略略，哈哈哈哈哈哈哈', // 分享描述
                    link: 'https://www.huangyingsheng.com/about/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP5RsatpLZVZFTlCtQ2LZXeCrW3ZqfloBt8FMD1N7JT0uhDf2PJ0Jgp3YFo1go6gtvQbqGkfYjiciaWg/0?wx_fmt=jpeg', // 分享图标
                    type: 'link', // 分享类型,music、video或link，不填默认为link
                    //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });

            wx.error(function (res) {
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
                //alert('今天不能微信分享了哦' + '[' + res.errMsg + ']');
                //alert(res);
            });
        </script>
    </div>
</div>
<div class="m-static-foot">
    <div class="container text-center">
        <div class="col-sm-12">
            <div class="text-center my-nick" style="margin:50px 0">
                <h1 style="font-family:'Bauhaus 93';">SUMMER</h1>
            </div>
        </div>

        <div class="col-sm-12" style="height: 50px;border-top: solid 0.5px snow">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                Copyright © 黄颖晟 2019
                <br>
                闽ICP备17000331号|闽公网安备
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
</div>
<div class="foot-auxiliary"></div>
</body>
</html>