<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>SUMMER-About</title>
    <link type="text/css" rel="stylesheet" href="/css/editormd.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css?v=201901">

    <script type="text/javascript" src="/js/md/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse  navbar-static-top">
    <div class="container-fluid">
        <div class="col-sm-3"></div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-sm-6">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SUMMER</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/blog">Blog</a></li>
                    <li class="active"><a href="#">Life<span class="sr-only"></span></a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                <!--最右边-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</nav>

<div class="col-sm-12">

</div>
</body>
</html>