<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>SUMMER</title>
    <link rel="icon" type="shortcut icon" href="/summer.ico">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css?v=201901">
    <link type="text/css" rel="stylesheet" href="/css/docs.css?v=201906">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css?v=201901">
    <style>
        a {
            color: white;
        }

        a:hover {
            color: grey;
        }
    </style>
</head>
<body>

<canvas id="summerdotline" style="position:absolute;top:0;left:0;z-index:99"></canvas>

<div class="m-static-top">
    <h1 class="font_color"> Hi.</h1>
</div>
<div class="m-static-body">
    <div class="container">
        <div class="col-sm-12">
            <div class="row mapbody">
                <div class="col-xs-6 col-md-3 mapimg">
                    <!--                    <a href="javascript:void(0)" class="thumbnail">-->
                    <!--                        <img src="/image/logo_2019.jpg"/>-->
                    <!--                    </a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center tiptext">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">
                <audio autoplay="autoplay" src="music/3241169708.mp3"></audio>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>

<div class="m-static-foot">
    <div class="container text-center">
        <div class="col-sm-12">
            <div class="text-center my-nick" style="margin:50px 0">
                <h1 style="font-family:'Bauhaus 93';">SUMMER</h1>
            </div>
        </div>


        <div class="col-sm-12" style="height: 50px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="col-xs-3">
                    <a href="mailto:hys.1994@outlook.com.com?subject=from_my_web&body=邮件内容">
                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-3">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    <a href="https://github.com/GITHUBFORSUMMER">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="col-sm-12" style="height: 50px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a style="font-family: fantasy;" href="/blog">
                    Blog
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>


    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/dotline.js"></script>
    <script type="text/javascript" src="/js/webcolor.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

    <script th:inline="javascript">

        var wxData = [[${wxjsconfig}]];

    </script>

    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx80a7631fb6f3e4d2', // 必填，公众号的唯一标识
            timestamp: wxData.timestamp, // 必填，生成签名的时间戳
            nonceStr: wxData.nonceStr, // 必填，生成签名的随机串
            signature: wxData.signature,// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });


        wx.ready(function () {

            /* wx.updateTimelineShareData({
                 title: 'HELLO SUMMER', // 分享标题
                 link: 'https://www.huangyingsheng.com/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                 imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP659qUMbs9W8knGraEmOcPyxI8XtbDo8c1sePmjGI4ohz55wE54ghRC3nV11scPotdDyM0lGhlS4Q/0?wx_fmt=jpeg', // 分享图标
                 success: function () {
                     // 用户确认分享后执行的回调函数
                     alert('很棒，你分享操作的姿势总是那么的优雅!');
                 },
                 cancel: function () {
                     // 用户取消分享后执行的回调函数
                     alert('分享一个又不影响成绩');
                 }
             });

             wx.updateAppMessageShareData({
                 title: 'HELLO SUMMER', // 分享标题
                 desc: '药！！DJ Drop the beat!', // 分享描述
                 link: 'https://www.huangyingsheng.com/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                 imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP44pOCIzriaUsBuTIibB4fylJVmLUOU7TPm4f5QTlwCxpRVrv80BmlR00NiaQtlsKtpRw43Sop02icKGA/0?wx_fmt=jpeg', // 分享图标
                 success: function () {
                     // 设置成功
                 }
             });
             */


            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.onMenuShareTimeline({
                title: 'HELLO SUMMER', // 分享标题
                link: 'https://www.huangyingsheng.com/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP44pOCIzriaUsBuTIibB4fylJVmLUOU7TPm4f5QTlwCxpRVrv80BmlR00NiaQtlsKtpRw43Sop02icKGA/0?wx_fmt=jpeg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    alert('很棒，你分享操作的姿势总是那么的优雅!');
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    alert('分享一个又不影响成绩');
                }
            });


            wx.onMenuShareAppMessage({
                title: 'HELLO SUMMER', // 分享标题
                desc: '药！！DJ Drop the beat!', // 分享描述
                link: 'https://www.huangyingsheng.com/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP44pOCIzriaUsBuTIibB4fylJVmLUOU7TPm4f5QTlwCxpRVrv80BmlR00NiaQtlsKtpRw43Sop02icKGA/0?wx_fmt=jpeg', // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });

        wx.error(function (res) {
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            //alert('今天不能微信分享了哦' + '[' + res.errMsg + ']');
            //alert(res);
        });
    </script>


</div>
<div class="foot-auxiliary"></div>
</body>
</html>