<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>VIEW_BLOG</title>
    <link rel="icon" type="shortcut icon" href="/summer.ico">

    <link type="text/css" rel="stylesheet" href="/css/editormd.css">
    <link type="text/css" rel="stylesheet" href="/css/docs.css?v=201902">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css?v=201901">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/md/marked.min.js"></script>
    <script type="text/javascript" src="/js/md/prettify.min.js"></script>
    <script type="text/javascript" src="/js/md/raphael.min.js"></script>
    <script type="text/javascript" src="/js/md/underscore.min.js"></script>
    <script type="text/javascript" src="/js/md/sequence-diagram.min.js"></script>
    <script type="text/javascript" src="/js/md/flowchart.min.js"></script>
    <script type="text/javascript" src="/js/md/jquery.flowchart.min.js"></script>
    <script type="text/javascript" src="/js/md/editormd.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script th:inline="javascript">

        var wxData = [[${wxjsconfig}]];
        var blog_code = [[${blog_code}]];
        var md_url = [[${md_url}]];
        var blog_title = [[${blog_title}]];

        $(function () {

            var data = {
                "code": blog_code
            };

            mdInit(md_url);
        })


        function mdInit(url) {
            $.get(url, function (obj, status) {
                $("#md_text").html(obj);
                var wordsView = editormd.markdownToHTML("wordsView", {
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                });
                $(".blogview").fadeIn(2000);
            });

        }

    </script>
</head>
<body>

<nav class="navbar navbar-inverse  navbar-static-top">
    <div class="container-fluid">
        <div class="col-sm-3"></div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-sm-6">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SUMMER</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/blog">Blog<span class="sr-only"></span></a></li>
                    <li><a href="/mylife">MyLife</a></li>
                    <li><a href="/links">Links</a></li>
                </ul>
                <!--<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>-->

                <!--最右边-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</nav>

<div class="showcase">
</div>

<div class="col-md-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 blogview" style="display: none">

        <div id="wordsView">
            <textarea id="md_text" name="editormd-markdown-doc"></textarea>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>


<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx80a7631fb6f3e4d2', // 必填，公众号的唯一标识
        timestamp: wxData.timestamp, // 必填，生成签名的时间戳
        nonceStr: wxData.nonceStr, // 必填，生成签名的随机串
        signature: wxData.signature,// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });


    wx.ready(function () {

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: blog_title, // 分享标题
            link: 'https://www.huangyingsheng.com/view/' + blog_code, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP44pOCIzriaUsBuTIibB4fylJVmLUOU7TPm4f5QTlwCxpRVrv80BmlR00NiaQtlsKtpRw43Sop02icKGA/0?wx_fmt=jpeg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('很棒，你分享操作的姿势总是那么的优雅!');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });


        wx.onMenuShareAppMessage({
            title: 'HELLO SUMMER', // 分享标题
            desc: blog_title, // 分享描述
            link: 'https://www.huangyingsheng.com/view/' + blog_code, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://mmbiz.qpic.cn/mmbiz_jpg/ibl8dHbdaIP44pOCIzriaUsBuTIibB4fylJVmLUOU7TPm4f5QTlwCxpRVrv80BmlR00NiaQtlsKtpRw43Sop02icKGA/0?wx_fmt=jpeg', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('很棒，你分享操作的姿势总是那么的优雅!');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });

    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        //alert('今天不能微信分享了哦' + '[' + res.errMsg + ']');
        //alert(res);
    });
</script>

</body>
</html>